.app-wpapper {
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
  margin: 0 auto;
}

.app-wpapper-content{
  grid-area: c;
  background: url("https://media.proglib.io/wp-uploads/2018/03/EzgdmaCQuT84bgDL4fhXZS.jpg");

}




