.header {
    grid-area: h;
    background-color: #f7e018;
}

.header img {
    width: 60px;
}
.item {
    color: #000000;
    padding: 10px;
    background-color: #05afa5;
    border-radius: 50px;
    display: block;
}

.labelDiv{
    border-radius: 10% 30% 50% 70%;
    border: #05afa5 3px solid;
    max-height: max-content;
    max-width: max-content;
    background-color: black;
    position: absolute;
}

.LoginBlock{
    float: right;
    text-align: center;
}

.item:hover{
    float: right;
    text-align: center;
    background-color: #000000;
    color: #f7e018;
}

.Preloader{
    float: right;
}